<h1>Shredzilla</h1>

<h2>WOD</h2>
<ul>
<% @exercises.each do |exercise| %>
<strong><%= exercise.name %></strong><br />
<p><%= exercise.hold %></p><br />
<p><%= exercise.reps %></p><br />
<p><%= exercise.sets %></p><br />
<p><%= exercise.timer %></p><br />
<% end %>
</ul>
