
<head>
  <link href='https://fonts.googleapis.com/css?family=Ravi+Prakash' rel='stylesheet' type='text/css'>
</head>

<div class="container text-center text-uppercase">
<div class="jumbotron">
    <h1>Check Out the HIIT's</h1>
  </div>
</div>
<div></div>
<div class="container">
<div class="row">
<div class="col-sm-6 col-sm-offset-3">
<div class="form-group">
  <% @workouts.each do |w| %>

   <div class="well well-sm" >
  <h3>HIIT Title: <%= w.name %></h3>
  <h3>HIIT Details: <%= w.note %></h3>
  <%= link_to 'Check it out', workout_path(w) %>
  <%= link_to 'Edit Workout', edit_workout_path(w) %>
    </div>

  <% end %>

  </div>
  <h1 class="text-center well well-sm"><%= link_to 'Record Your HIIT', new_workout_path %></h1>
  </div>
  </div>

</div>



