
<head>
  <link href='https://fonts.googleapis.com/css?family=Ravi+Prakash' rel='stylesheet' type='text/css'>
</head>

<div class="jumbotron">
  <div class="container text-center text-uppercase">
    <h1>Workout of The Day</h1>
  </div>
</div>

<table class="table table-bordered">
<tr>
    <td><strong>Exercise</strong></td>
    <td><strong>Hold</strong></td>
    <td><strong>Reps</strong></td>
    <td><strong>Sets</strong></td>
    <td><strong>Timer</strong></td>
</tr>
<% @workout.each do |exercise| %>
<tr>
   <td><%= exercise.name %></td>
   <td><%= exercise.hold %></td>
   <td><%= exercise.reps %></td>
   <td><%= exercise.sets %></td>
   <td><%= exercise.timer %></td>
</tr>
<% end %>
</table>

<%= form_for :workouts do |f| %>
<p>
  <%= f.label :note %><br>
  <textarea class="form-control" rows="4"><% f.text_area :note %></textarea>
</p>

<p>
  <%= f.submit  "Save Note"%>
</p>
  <% end %>






