
<head>
  <link href='https://fonts.googleapis.com/css?family=Ravi+Prakash' rel='stylesheet' type='text/css'>
</head>

<div class="jumbotron">
  <div class="container text-center text-uppercase">
    <h1>Choose Your Workout</h1>
  </div>
</div>
<div></div>
<div class="container">
  <% @workouts.each do |w| %>
  <p><%= w.name %></p>
  <p><%= w.day %></p>
  <p><%= w.note %></p>
  <%= link_to 'Check it out', workout_path(w) %>
  <%= link_to 'Edit Workout', edit_workout_path(w) %>

  <% end %>
</div>

<p><%= link_to 'Record Your HIIT', new_workout_path %></p>

<%= params %>

<!-- modal edit note -->