
<head>
  <link href='https://fonts.googleapis.com/css?family=Ravi+Prakash' rel='stylesheet' type='text/css'>
</head>

<div class="jumbotron">
  <div class="container text-center text-uppercase">
    <h1>Workout of The Day</h1>
  </div>
</div>

<table class="table table-bordered">
<tr>
    <td><strong>Exercise</strong></td>
    <td><strong>Hold</strong></td>
    <td><strong>Reps</strong></td>
    <td><strong>Sets</strong></td>
    <td><strong>Timer</strong></td>
</tr>
<% @workout.each do |exercise| %>
<tr>
   <td><%= exercise.name %></td>
   <td><%= exercise.hold %></td>
   <td><%= exercise.reps %></td>
   <td><%= exercise.sets %></td>
   <td><%= exercise.timer %></td>
</tr>
<% end %>
</table>

<%= form_tag("/workout_note", method: "get") do %>
<p>
<%= hidden_field_tag 'workout_id', @workout_id %>
  <%= label_tag :note %><br>
<%= text_area_tag :note %>
</p>

<p>
  <%= submit_tag  "Save Note" %>
</p>
  <% end %>


<%= params %>



